<% if @posts.size > 0 %>
	<% if @posts[0].class == Array %>
		<div class="post">
				<div class="post-title"><a href="<%= @posts[5][1] %>"><%= @posts[11][1] %></a></div>
				<div class="post-body"><%= @posts[6][1].html_safe %></div>
				<div class="post-time"><%= (Time.at(@posts[1][1].to_i)).strftime('%m-%d-%Y') %></div>
		</div>
	<% else %>
		<% @posts.each do |post| %>
			<div class="post">
				<div class="post-title"><%= post["regular_title"] %></div>
				<div class="post-body"><%= post["regular_body"] %></div>
			</div>
		<% end %>
	<% end %>
<% else %>
	<div class="no-post">
			<div class="no-post-title">There are no posts!</div>
	</div>
<% end %>

