<!DOCTYPE html>
<html>
    <head>
        <title>calvinwiebe</title>
		<link href="stylesheets/scaffold.css" media="screen" rel="stylesheet" type="text/css">
		<link href="stylesheets/z-all.css" media="screen" rel="stylesheet" type="text/css">
		<link href="stylesheets/lightbox.css" media="screen" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="javascripts/application.js"></script>
		<script type="text/javascript" src="javascripts/prototype.js"></script>
		<script type="text/javascript" src="javascripts/effects.js"></script>
		<script type="text/javascript" src="javascripts/builder.js"></script>
	<script type="text/javascript" src="javascripts/scriptaculous.js?load=effects,builder"></script>
		<script type="text/javascript" src="javascripts/controls.js"></script>
		<script type="text/javascript" src="javascripts/lightbox.js"></script>
		<script type="text/javascript" src="javascripts/rails.js"></script>
		<script type="text/javascript" src="javascripts/cjwiebe.js"></script>
        <%= csrf_meta_tag %>
        <link rel="shortcut icon" href="/images/favicon.ico" />
    </head>
    <body>
    	<div id="page">
        <header id="heading-stuff">
            <div id="heading-bar-outer">
                <div id="heading-name"><a href="/">calvinwiebe</a></div>
                <!--<span id="avatar"><img src="/images/avatar-trans.png" width="100px"></img></span>-->
		<div id="loadingCircle">
                    <div id="c1" class="circle"></div>
                    <div id="c2" class="circle"></div>
                    <div id="c3" class="circle"></div>
                </div>
            </div>
        </header>  
        <header id="nav-stuff">
        	<div id="portfolio-items-outer">
    	    <nav id="portfolio-items">
                <ul>
                    <li>
                        <%= link_to "about", about_path, :remote => true, :id => "about_link" %>
                    </li>
                    <!--<li>
                        <%= link_to "education", education_path, :remote => true %>
                    </li>
                    <li>
                        <%= link_to "experience", experience_path, :controller => 'experience', :remote => true %>
                    </li>-->
					<li>
                        <%= link_to "blog", blog_path, :remote => true, :id => "blog_link" %>
                    </li>
                    <li>
                        <%= link_to "projects", projects_path, :remote => true, :id => "projects_link" %>
                    </li>
                    <li>
                        <%= link_to "contact", static_info_path, :remote => true, :id => "contact_link" %>
                    </li>
                </ul>
            </nav>
            </div>
        </header>
        <div id="content">
            <div id="content-inner">
                <div id="content-topic">
                    <%= yield %>
                </div>
            </div>
			
        </div>
		<div id="clearfooter"></div>
		</div>
		<footer id="footer-links">
			<div id="footer-links-outer">
				<section>
			     <nav>
	                <ul>
	                    <li>
	                		calvin
	                	</li>
	                    <li>
	                        <a href="http://twitter.com/#!/calvinwiebe">twitter</a>
	                    </li>
	                    <li>
	                        <a href="http://ca.linkedin.com/pub/calvin-wiebe/1a/865/ab6">linkedin</a>
	                    </li>
	                    <li>
	                        <a href="http://github.com/calvinwiebe">github</a>
	                    </li>
	                </ul>
	            </nav>
	            </section>
	            <section>
			     <nav>
	                <ul>
	                	<li>
	                		ottawa
	                	</li>
	                    <li>
	                        <a href="http://www.startupottawa.com">startupottawa</a>
	                    </li>
	                    <li>
	                        <a href="http://www.techvibes.com/ottawa">ottawa tech vibes</a>
	                    </li>
	                    <li>
	                        <a href="http://www.reddit.com/r/Ottawa">/r/Ottawa</a>
	                    </li>
	                    <li>
	                        <a href="http://scs.carleton.ca">compsci@Carleton</a>
	                    </li>
	                </ul>
	            </nav>
	            </section>
            </div>
		</footer>
		<footer id="footer-stuff">
            <div id="footer-bar-outer">
                <aside id="footer-aside">
                    <div>
                        2012 Calvin Wiebe
                    </div>
                </aside>
            </div>
        </footer>
    </body>
</html>
